<nav class="navbar">
    <div class="container col-lg-12 col-xs-12 col-sm-12 justify-content-between ">
        <a routerLink="/" class="navbar-brand text-white ">Inicio</a>
        <a href="catalogo.html" class="navbar-brand text-white">Catálogo</a>
        <a href="noticias.html" class="navbar-brand text-white">Noticias</a>
        <form class="form-inline">
            <button type="button" routerLink="/login" class="btn btn-light mr-2">Iniciar Sesión</button>
            <button type="button" onclick="location.href='registro_usuarios.html'" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</nav>