<app-navbar>
</app-navbar>
<h1 class="text-center title">PET SHOP</h1>
<h2 class="text-center ">Bienvenido</h2>
<h3 class="text-center">Aqui encontraras:</h3>
<div class="mt-5 container col-lg-8 col-xs-8 col-sm-8 d-flex justify-content-center justify-content-between">
    <a href="#">
        <div class="cuadro-3 float-contenedor ">
            <img src="assets/img/comida.jpg" alt="" width="200px" height="220px" class="img-redondeado ">
            <h3 class="float-text text"><strong>Comida</strong> </h3>
        </div>
    </a>
    <a href="#">
        <div class="cuadro-3 float-contenedor ">
            <img src="assets/img/juguetes.jpg" alt="" width="200px" height="220px" class="img-redondeado ">
            <h3 class="float-text text">
                <Strong>Juguetes</Strong> </h3>
        </div>
    </a>
    <a href="#">
        <div class="cuadro-3 float-contenedor ">
            <img src="assets/img/accesorios.jpg" alt="" width="200px" height="220px" class="img-redondeado ">
            <h3 class="float-text text">
                <Strong>Accesorios</Strong>
            </h3>
        </div>
    </a>
    <a href="#">
        <div class="cuadro-3 float-contenedor ">
            <img src="assets/img/aseo.jpg" alt="" width="200px" height="220px" class="img-redondeado">
            <h3 class="float-text text">
                <Strong>Articulos de Aseo</Strong>
            </h3>
        </div>
    </a>
</div>