<div class="portada">
    <app-navbar></app-navbar>
    <h1 align="center" class="mt-5">PET SHOP</h1>
    <div class="contenedor_registro">
        <form action="" method="POST">
            <p>Cédula: <input type="text" name="cedula" required> </p>
            <p>Password: <input type="text" name="nombres" required></p>
            <button class="button mt-3" type="button" routerLink="/">Regresar</button>
            <input class="button mt-3" type="submit" name="submit" value="Iniciar">
        </form>

    </div>
</div>