<app-navbar></app-navbar>
<h1 class="text-center mt-5">Noticias</h1>
<div class="btn-group mt-5 container col-lg-8 col-xs-8 col-sm-8 d-flex justify-content-center" role="group">
    <button type="button" routerLink="/noticias/adopcion" class="btn btn-outline-success">Adopción</button>
    <button type="button" routerLink="/noticias/cuidados" class="btn btn-success">Cuidado de tu Mascota</button>
    <button type="button" routerLink="/noticias/novedades" class="btn btn-outline-success">Novedades</button>
</div>
<div class="contenedor">
    <div class="img"></div>
    <div class="mt-5 p-2">
        <ul class="list-group">
            <li class="list-group-item">Menos enfermedades</li>
            <li class="list-group-item">Más resistencia a las alergias</li>
            <li class="list-group-item">Mayor felicidad</li>
            <li class="list-group-item">Un corazón saludable</li>
            <li class="list-group-item">Vida social más activa</li>
            <li class="list-group-item">Disminución del estrés.</li>
        </ul>
    </div>
</div>