<app-navbar></app-navbar>

<h1 class="text-center mt-5">Noticias</h1>
<div class="btn-group mt-5 container col-lg-8 col-xs-8 col-sm-8 d-flex justify-content-center" role="group">
    <button type="button" routerLink="/noticias/adopcion" class="btn btn-outline-success">Adopciones</button>
    <button type="button" routerLink="/noticias/cuidados" class="btn btn-outline-success">Cuidado de tu Mascota</button>
    <button type="button" routerLink="/noticias/novedades" class="btn btn-success">Novedades</button>
</div>
<div class="contenedor">
    <div class="img"></div>
    <div class="mt-5 p-2">
        <ul class="list-group">
            <li class="list-group-item">Los perros nacen sordos y ciegos.</li>
            <li class="list-group-item">La nariz de los perros puede llegar a tener hasta 300 millones de receptores olfativos.</li>
            <li class="list-group-item">Las papilas gustativas de los perros varían de 1,700 a 2,000 versus las casi 10,000 papilas gustativas que tenemos los humanos.
            </li>
        </ul>
    </div>
</div>